*{
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,system-ui,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
}
#ingrExpPickupDiv{
  display: flex;
  outline: 1px solid rgb(228, 230, 232);
  border-radius: 8px;
  height: 40px;
  width: 280px;
  margin: 0 auto; 
  align-items: center; 
  margin-top: 8px;
}
#ingrExpPickupAt{
  font-weight: 325;
  font-size: 12px;
  color: rgb(0, 0, 0);
  width: 180px;
  display: none; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
  text-align: left;
  margin-left: 2px;
}
#ingrExpZipCode{ 
  margin-left: 5px;
  font-weight: 325;
  font-size: 12px;
  width: 180px;
  border: none;
  border-radius: 25px;
  text-align: left;
  margin-right: 1px;
  height: auto;
  height: 25px;

  display: -webkit-box; /* Limit the text to three lines */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
#change{
  cursor: pointer;
  background-color: white;
  font-size: 12px;
  color: #6DAB9B;
  border: none;
  margin-right: 5px;
  text-align: right; 
  display: none;
}
#ingrExpZipCode:placeholder{
  color: grey;
  text-align: center;
  text-align: left;
}
#ingrExpZipCode::placeholder{
  color: grey;
  text-align: center;
  text-align: left;
}
#ingrExpZipCode:focus {
  outline: none;
  outline: none;
}
#ingrExpZipCodeInPopup{
  color: black;
  font-weight: 325;
  font-size: 17px;
  outline: 1px solid rgb(191, 191, 191); ;
  border: none;
  border-radius: 25px;
  text-align: center;
  height: 20px;
  align-items: center; /* Center vertically */
  margin-left: 88px;
  width: 200px;

  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
#ingrExpZipCodeInPopup:placeholder{
  color: black;
}
#location{
  height: 25px;
  margin-left: 4px;
}
.ingrExpOuterContainer{
  display: flex;
  width: 424px;
  margin-bottom: 16px;
  margin-top: 16px;   
  justify-content: center; 
  align-items: center; 
}
.ingrExpParagraphOutline{
  position: relative; 
  outline: 1px solid rgb(228, 230, 232);
  border-radius: 8px;
  width: 280px;
  max-height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ImageAndQuantity{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingrExpEmptyBackgroundButton{
  padding: 0px;
  border: 0px;
  background: none;
  margin: 0px;
  background-color: white;
  background: white ;
  color: rgb(255, 255, 255) ;
  min-height: 0px ;
}
.leftArrow{
  border-width: 1px;
  border: 2px solid; 
  margin-right: 16px;
  height: 40px;
  width: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 50%; 
  border-color: rgb(228, 230, 232);
  cursor: pointer;
}
.leftArrow:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
.ingrExpLeftArrowImage{
  height: 20px;
  padding-top: 4px;
  padding-right: 3px;
}
.rightArrow{
  border-width: 1px;
  border: 2px solid; 
  margin-left: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%; 
  border-color: rgb(228, 230, 232);
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
.rightArrow:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
.ingrExpRightArrowImage{
  height: 20px;
  padding-left: 3px;
  padding-top: 4px;
}
#ingrExpClose{
  margin-right: 8px;
  margin-top: 8px;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%; 
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
#ingrExpCloseImage {
  width: 90%;
  height: auto;
  padding-top: 3px;
}
#ingrExpClose:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
#ingrExpCloseInPopup{
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%; 
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  margin-left: auto; 
  padding-top: 3px;
}
#ingrExpCloseImageInPopup {
  width: 90%;
  height: auto;
}
#ingrExpCloseInPopup:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
#headerContainer{
  display: flex;
  justify-content: flex-end; 
}
#ingrExpPerson {
  margin-right: 8px;
  margin-top: 8px;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%; 
  border-color: rgb(228, 230, 232);
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
#ingrExpPersonImage { 
  width: 70%;
  height: auto;
  padding-top: 3px;
}
#ingrExpPerson:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
.ingrExpCircleButton{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgb(87, 177, 189);      
  margin-left: 15px;
  margin-right: 10px;
  background-color: white;
}
.ingrExpIngredientBrand{
  font-weight: 345;
  font-size: 16px;
  height: 20px;
  display: flex;
  color: #1D1C1C;
  text-align: center;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 1.2; 

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
.ingredientDescription{
  font-weight: 345;
  font-size: 14px;
  height: auto;
  color: #1D1C1C;
  text-align: center;
  margin: auto;
  line-height: 1.2; 
  padding-right: 16px;
  padding-left: 16px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
}
.ingrExpIngrExpPrice{
  margin-top: 5px; 
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  color: rgb(29, 28, 28); 
}
.ingrExpPriceContainer {
  display: flex;
  align-items: baseline;
  height: 32px;
  margin-bottom: 8px;
}
.ingrExpCents{ 
  font-size: 15px; 
  font-weight: 500;
  color: rgb(29, 28, 28); 
  margin-top: 5px;
}
.ingrExpSize{
  font-weight: 325; 
  font-size: 14px;
  color: #8E8D8D;
  width: 170px;
  text-align: center;
  margin: auto;
  
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
.ingrExpMinusButton{
  border: none;
  height: 25px;
  width: 22px;
  border-radius: 20%;
  background-color: rgb(52, 122, 132);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.ingrExpPlusButton{
  border: none;
  height: 25px;
  width: 22px;
  border-radius: 20%;
  background-color: rgb(52, 122, 132);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.ingrExpPlusMinusDiv{
  background-color: rgb(52, 122, 132);
  border-radius: 12px;
  display: flex;
  border-radius: 20%;
  height: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ingrExpIngredientImage{
  margin-top: 8px;
  height: 68px; 
  width: 68px;
  object-fit: contain;
}
#ingrExpTopLevelDiv{
  background-color: white; 
  max-height: 98%;
  width: 424px;
  position: fixed;
  z-index: 2147483646;
  display: block;
  overflow: scroll;
  top: 10px; 
  right: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  text-align: center;
}
#ingrExpTopLevelLocationPopup{
  background-color: white;
  width: 392px;
  position: fixed;
  z-index: 2147483647;
  display: block;
  overflow-y: auto;
  right: 26px;
  border-radius: 10px; 
  text-align: center;
  outline: 1px solid rgb(228, 230, 232);
  top: 88px; 
  height: 492px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#ingrExpCheckoutButtonPopup {
  font-size: 20px; 
  background-color: rgb(255, 205, 85); 
  font-weight: 450;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 392px;
  height: 48px;
  margin-bottom: 10px;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
  display: none;
}
#ingrExpCheckoutButton {
  font-size: 20px; 
  background-color: rgb(109, 171, 155);
  font-weight: 450;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 392px;
  height: 48px;
  margin-bottom: 10px;
}
.ingrExpTopLocationDiv{
  outline: 1px solid rgb(228, 230, 232);
  border-radius: 8px;
  display: block;
  height: 144px;
  width: calc(100% - 16px); /* Set the width of the child div */
  margin: 0 8px; /* Set the margin on both sides */
  margin-bottom: 8px;
}
.ingrExpLocationName{
  padding-top: 8px;
  margin-left: 8px;
  padding-left: 0px;
  font-weight: 600;
  font-size: 14px;
  height: 20px;
  text-align: left;
  color: rgb(0, 0, 0);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
.ingrExpLocationAddress{
  margin-top: 8px;
  font-weight: 325; 
  padding-left: 8px;
  font-size: 14px;
  color: rgb(29, 28, 28, 0.5);

  width: 300px;
  text-align: left;
  line-height: 1.2;
  white-space: pre-line;


  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
}
.ingrExpPhoneNumber{
  margin-top: 8px;
  padding-left: 8px;
  font-weight: 325; 
  font-size: 14px;
  margin-bottom: 0px;
  color: rgb(29, 28, 28, 0.5);
  width: 216px;
  text-align: left;
  line-height: 1.2; 
}
.ingrExpShopStore{
  border: none;
  height: 34px;
  border-radius: 8px;
  background-color: #6DAB9B;
  color: white;
  font-size: 14px;
  text-align: center; 
  cursor: pointer;
  width: calc(100% - 16px); 
  margin: 8px; 
}
.ingrExpPlaceholderForLocations{
  border: 0px;
  margin: 0px;
  padding: 0px;
}
#ingrExpLocationZipDiv{
  border: 0px;
  margin: 8px;
  padding: 0px;
  height: 22px;
  display: flex;
}
.ingrExpNoLocationsFound{
  border: 0px;
  margin-top: 10px;
  padding: 0px;
  font-weight: 325;
  font-size: 17px;
  color: rgb(0, 0, 0);
  font-weight: 325;
  text-align: center;
  display: none;
}
.ingrExpBold{
  font-size: 17px; 
  font-weight: bold;
}
.startingPlusButton{
  height: 40px;
  width: 40px;
  border-radius: 50%; 
  background-color: #6DAB9B;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  border: none;
  position: absolute; 
  right: 16px; 
  top: 8px; 
}
.quantityButtons{
  display: none;
  border-radius: 8px; 
  background-color: #6DAB9B;
  align-items: center; 
  color: #fff;
  justify-content: center;
  align-items: center; 
  position: absolute; 
  right: 16px; 
  top: 8px; 
}
.minusButton{
  width: 40px;
  height: 40px;
  background-color: #6DAB9B;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  border: none;
  border-radius: 8px; 
}
.plusButton{
  width: 40px;
  height: 40px;
  background-color: #6DAB9B;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  border: none;
  border-radius: 8px; 
}
.quantity{
  width: 28px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}