*{
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,system-ui,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
}
/*TOOLTIPS*/ 
.hoverButtonsUp, .hoverButtonsDown {
  position: relative; /* Ensure tooltips position correctly relative to the button */
  z-index: 2147483647;
}

/*scrollbar settings start*/
* {
  scrollbar-width: none; /* Firefox: hides the scrollbar */
}

/* WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 0px; /* Hides the scrollbar */
  height: 0px;
}

/* Ensure scrollbars show up when scrolling */
html {
  overflow-y: overlay; /* For WebKit browsers: overlay scrollbars */
  overflow-x: hidden; /* Avoid horizontal scrolling */
}

/* Optionally make scrollbars appear when hovering */
*:hover::-webkit-scrollbar {
  width: 8px; /* Width of scrollbar when hovering */
  height: 8px; /* Height of scrollbar when hovering */
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Thumb color, customizable */
  border-radius: 4px; /* Rounded scroll thumb for aesthetic */
}

*:hover::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Track color */
}
/*scrollbar settings end*/

/* Tooltip pointing up */
.tooltipUp {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 125%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  max-width: 300px;
  z-index: 2147483647;

}

.tooltipUp::after {
  content: '';
  position: absolute;
  top: 100%; /* Arrow pointing down */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  z-index: 9999; 
}

/* Tooltip pointing down */
.tooltipDown {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 125%; /* Position below the button */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  max-width: 300px;
  z-index: 2147483646;

}

.tooltipDown::after {
  content: '';
  position: absolute;
  bottom: 100%; /* Arrow pointing up */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Hover effects */
.hoverButtonsUp:hover .tooltipUp,
.hoverButtonsDown:hover .tooltipDown {
  visibility: visible;
  opacity: 1;
}

/*tooltips over*/ 
#defaultPopup {
  width: 250px;
  margin: 0;
}
#ingrExpPickupDiv {
  display: flex;
  outline: 1px solid rgb(228, 230, 232);
  border-radius: 8px;
  height: 40px;
  width: 280px;
  margin: 0 auto;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  position: sticky;
  top: 0; /* Sticks the element at the top */
  background-color: white; /* Ensures background is preserved when sticky */
}
#ingrExpPickupAt{
  font-weight: 325;
  font-size: 12px;
  color: rgb(0, 0, 0);
  width: 180px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
  text-align: left;
  margin-left: 2px;
  display: none;             /* Use Flexbox */
  align-items: center;       /* Center text vertically */
}
#ingrExpZipCode{ 
  margin-left: 5px;
  font-weight: 325;
  font-size: 12px;
  width: 180px;
  border: none;
  border-radius: 25px;
  text-align: left;
  margin-right: 1px;
  height: 25px;

  display: -webkit-box; /* Limit the text to three lines */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
#change{
  cursor: pointer;
  background-color: white;
  font-size: 12px;
  color: #6DAB9B;
  border: none;
  margin-right: 5px;
  text-align: right; 
  display: none;
}
#ingrExpZipCode:placeholder{
  color: grey;
  text-align: center;
  text-align: left;
}
#ingrExpZipCode::placeholder{
  color: grey;
  text-align: center;
  text-align: left;
}
#ingrExpZipCode:focus {
  outline: none;
  outline: none;
}
#ingrExpZipCodeInPopup{
  color: black;
  font-weight: 325;
  font-size: 17px;
  outline: 1px solid rgb(191, 191, 191); ;
  border: none;
  border-radius: 25px;
  text-align: center;
  height: 20px;
  align-items: center; /* Center vertically */
  margin-left: 88px;
  width: 200px;

  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
#ingrExpZipCodeInPopup:placeholder{
  color: black;
}
#location{
  height: 25px;
  width: 25px;
  margin-left: 4px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.ingrExpOuterContainer{
  display: flex;
  margin-bottom: 16px;
  margin-top: 8px;

  margin-top: 2px;   
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}
.ingredientName {
  font-weight: 400;
  font-size: 18px;
  height: 20px;
  color: #1D1C1C;
  text-align: center;
  margin: 8px;
  line-height: 20px; /* Set line-height to match the height to vertically center text */
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

  text-transform: capitalize; /* Auto capitalize each word */
}
.ingrExpParagraphOutline{
  position: relative; 
  outline: 1px solid rgb(228, 230, 232);
  border-radius: 8px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ImageAndQuantity{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingrExpEmptyBackgroundButton{
  padding: 0px;
  border: 0px;
  background: none;
  margin: 0px;
  background-color: white;
  background: white ;
  color: rgb(255, 255, 255) ;
  min-height: 0px ;
}
.leftArrow{
  border-width: 1px;
  border: 2px solid; 
  margin-right: 16px;
  height: 40px;
  width: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 50%; 
  border-color: rgb(228, 230, 232);
  cursor: pointer;
  z-index: 2147483644;
}
.leftArrow:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
.ingrExpLeftArrowImage{
  height: 20px;
  padding-top: 4px;
  padding-right: 3px;
}
.rightArrow{
  border-width: 1px;
  border: 2px solid; 
  margin-left: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%; 
  border-color: rgb(228, 230, 232);
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  z-index: 2147483644;
}
.rightArrow:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
.ingrExpRightArrowImage{
  height: 20px;
  padding-left: 3px;
  padding-top: 4px;
}
.topButtons{
  margin-right: 8px;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%; 
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.topButtonsImage {
  width: 90%;
  height: auto;
  padding-top: 3px;
}
.topButtons:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
#ingrExpCloseInPopup{
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%; 
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  margin-left: auto; 
}
#ingrExpCloseInPopup:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
.headerContainer {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  flex-shrink: 0; /* Prevents the header from shrinking */
  align-items: center; /* Align items vertically in the center */
  background-color: rgb(160, 205, 200);
  border-radius: 10px 10px 0 0; /* Top corners have a radius of 20px, bottom corners have none */

}
.ingrExpCircleButton{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgb(87, 177, 189);      
  margin-left: 15px;
  margin-right: 10px;
  background-color: white;
}
.ingrExpIngredientBrand{
  font-weight: 345;
  font-size: 16px;
  height: 20px;
  display: flex;
  color: #1D1C1C;
  text-align: center;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 1.2; 

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
.ingredientDescription{
  font-weight: 345;
  font-size: 14px;
  color: #1D1C1C;
  text-align: center;
  margin: auto;
  line-height: 1.2; 
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 4px;

}
.ingrExpIngrExpPrice{
  margin-top: 5px; 
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  color: rgb(29, 28, 28); 
}
.ingrExpPriceContainer {
  display: flex;
  align-items: baseline;
  height: 32px;
  margin-bottom: 8px;
}
.ingrExpCents{ 
  font-size: 15px; 
  font-weight: 500;
  color: rgb(29, 28, 28); 
  margin-top: 5px;
}
.ingrExpSize{
  font-weight: 325; 
  font-size: 14px;
  color: #8E8D8D;
  width: 170px;
  text-align: center;
  margin: auto;
  
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
.ingrExpMinusButton{
  border: none;
  height: 25px;
  width: 22px;
  border-radius: 20%;
  background-color: rgb(52, 122, 132);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.ingrExpPlusButton{
  border: none;
  height: 25px;
  width: 22px;
  border-radius: 20%;
  background-color: rgb(52, 122, 132);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.ingrExpPlusMinusDiv{
  background-color: rgb(52, 122, 132);
  border-radius: 12px;
  display: flex;
  border-radius: 20%;
  height: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ingrExpIngredientImage{
  margin-top: 8px;
  height: 68px; 
  width: 68px;
  object-fit: contain;
}
#ingrExpTopLevelDiv {
  background-color: white; 
  position: fixed;
  z-index: 2147483646;
  top: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  text-align: center;
  display: none; 
  flex-direction: column; 
  height: 98%; /* Adjust as needed */
  overflow: visible; /* was hidden - Ensure the expandArrow is not cut off */
}
.fullReaderView{
  width: 1063px;
  left: 50%;
  transform: translateX(-50%);
}
.readerViewOnly{
  width: 550px;
  left: 50%;
  transform: translateX(-50%);
}
.productsOnly{
  right: 10px;
}
#scrollingPart {
  background-color: white;
  overflow-y: auto;
  flex-grow: 1;
  border-radius: 10px;
  overflow-x: hidden;
}
#ingrExpTopLevelLocationPopup{
  background-color: white;
  width: 392px;
  position: fixed;
  z-index: 2147483647;
  display: block;
  overflow-y: auto;
  right: 26px;
  border-radius: 10px; 
  text-align: center;
  outline: 1px solid rgb(228, 230, 232);
  top: 88px; 
  height: 492px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#buttonContainer {
  position: sticky;
  bottom: 0; /* Sticks the element at the bottom */
  width: 100%;
  background-color: white; /* Ensures background is preserved when sticky */
  margin-bottom: 12px; /* Adjusted for margin */
  margin-top: 12px;
  z-index: 2147483645;
}
#goToCart {
  background-color: rgb(125,120,185); 
  display: none;
  position: absolute; 
  top: 0;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 2147483647;
}
#goToCart:hover {
  box-shadow: 0 0 10px rgba(105, 90,160, 0.75); 
}
.ingrExpCheckoutButton-hover:hover {
  box-shadow: 0 0 10px rgba(109, 171, 155, 0.75); 
}
.bottomButton{
  position: relative; 
  font-size: 20px; 
  font-weight: 450;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: calc(100% - 32px); /* Set width using calc() function */
  height: 48px;
  background-color: rgb(109, 171, 155);
  transition: transform 0.3s ease;
}
.bottomButton.grow{
  transform: scale(1.04);
}
.ingrExpTopLocationDiv{
  align-items: center;
  outline: 1px solid rgb(228, 230, 232);
  border-radius: 8px;
  display: block;
  width: calc(100% - 16px); 
  margin: 0 8px;
  margin-bottom: 8px;
  margin-top: 1px;
}
.groceryLogo{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.ingrExpLocationName{
  margin-top: 8px;  /* Changed from margin-top to padding-top */
  margin-left: 8px;
  padding-left: 0px;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  color: rgb(0, 0, 0);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
}
.ingrExpLocationAddress{
  font-weight: 325; 
  margin-left: 8px;
  font-size: 14px;
  color: rgba(22, 22, 22, 0.75);
  margin-top: 8px;  /* Changed from margin-top to padding-top */

  text-align: left;
  line-height: 1.2;
  white-space: pre-line;

  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
}
.ingrExpPhoneNumber{
  margin-top: 8px;
  margin-left: 8px;
  font-weight: 325; 
  font-size: 14px;
  margin-bottom: 0px;
  color: rgba(22, 22, 22, 0.75);
  width: 216px;
  text-align: left;
  line-height: 1.2; 
}
.ingrExpShopStore{
  border: none;
  height: 34px;
  border-radius: 8px;
  background-color: #6DAB9B;
  color: white;
  font-size: 14px;
  text-align: center; 
  cursor: pointer;
  width: calc(100% - 16px); 
  margin: 8px;
  padding: 0; 
}
.ingrExpPlaceholderForLocations{
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
#ingrExpLocationZipDiv{
  border: 0px;
  margin: 8px;
  padding: 0px;
  height: 22px;
  display: flex;
}
.ingrExpNoLocationsFound{
  border: 0px;
  margin-top: 10px;
  padding: 0px;
  font-weight: 325;
  font-size: 17px;
  color: rgb(0, 0, 0);
  font-weight: 325;
  text-align: center;
  display: none;
}
.ingrExpBold{
  font-size: 17px; 
  font-weight: bold;
}
.startingPlusButton{
  height: 40px;
  width: 40px;
  border-radius: 50%; 
  background-color: #6DAB9B;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border: none;
  position: absolute; 
  right: 16px; 
  top: 16px; 
  padding: 0; 
  background-image: url('chrome-extension://nckacfgoolkhaedphbknecabckccgffe/images/plus.png');
  background-position: center center; 
  background-size: 16px 16px ; 
  background-repeat: no-repeat; 
  z-index: 2147483644;
}
.startingPlusButton:hover{
  background-color: #5A8C82; 
}
.startingPlusButtonNoImage{
  background-image: none !important; /* Hide the background image */
}
.quantityButtons{
  display: none;
  border-radius: 8px; 
  background-color: #6DAB9B;
  align-items: center; 
  color: #fff;
  justify-content: center;
  align-items: center; 
  position: absolute; 
  right: 16px; 
  top: 16px; 
  z-index: 2147483645;
}
.minusButton{
  width: 40px;
  height: 40px;
  background-color: #6DAB9B;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  border: none;
  border-radius: 8px; 
}
.plusButton{
  width: 40px;
  height: 40px;
  background-color: #6DAB9B;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  border: none;
  border-radius: 8px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.plusButtonImage{
  height: 16px;
  width: auto;
  cursor: pointer;
}
.minusButtonImage{
  height: 16px;
  width: auto;
  cursor: pointer;
}
.quantity{
  width: 18px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
#minimizeTopLevelDiv{
  background-color: white; 
  width: 235px;
  height: 75px;
  position: fixed;
  z-index: 2147483647;
  top: 10px; 
  right: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  text-align: center;
  display: block;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Align items with space between */
}
.logo{
  height: 45px; 
  width: auto;
  margin-left: 18px;
}
.logoDefaultPopup{
  height: auto; 
  width: 15%;
  margin-left: 18px;
}
#ingredientsFound {
  font-size: 16px; 
  background-color: rgb(109, 171, 155);
  font-weight: 450;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 44px;
  margin-right: 40px; 
  margin-left: auto; 
  padding-left: 16px;
  padding-right: 16px;
}
#ingredientsFound:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
#closeInMinimizePopup {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.settingsScreen{
  align-items: center;
  outline: 1px solid rgb(228, 230, 232);
  border-radius: 8px;
  height: 144px;
  width: calc(100% - 16px); /* Set the width of the child div */
  margin: 0 8px; /* Set the margin on both sides */
  margin-bottom: 8px;
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack items vertically */
}
#emptySpaceText{
  font-size: 20px;
  font-weight: 500;
}
#emptySpaceLogo{
  height: 70px;
  width: 70px;
}
#emptySpace{
  padding: 24px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
}

#recipe-title {
  margin-bottom: 16px;
  margin-top: 8px;
  font-weight: 550;
  font-size: 30px;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 1.4; /* Set a minimum line spacing (adjust as needed) */

}

#recipe-description {
  font-style: italic;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
  line-height: 1.2;
}

#recipe-image {
  width: 40%; /* Set the desired width */
  height: auto; /* Automatically adjusts height based on aspect ratio */
  max-height: 100%; /* Prevents the height from exceeding the container */
  margin-top: 8px;
  object-fit: contain; /* Ensures the image is fully visible within the specified width */
}

.recipe-details {
  flex: 2 1 50%;
}

#ingredients, #instructions {
  margin-left: 16px;
  margin-top: 20px;
  font-weight: 550;
  font-size: 20px;
  text-align: left; /* Ensures the text is left-aligned */
}
ul {
  padding-left: 20px; /* Adjusts spacing for alignment */
  text-align: left; /* Ensures the list is left-aligned */
  font-size: 16px;
}
ol {
  padding-left: 20px; /* Adjusts spacing for alignment */
}
ol li {
  text-align: left; /* Ensures the list items are left-aligned */
  margin-bottom: 8px;
  font-size: 16px;
}
#readerView {
  width: 550px;
  overflow-y: auto; 
  padding-right: 16px;
}
#productSearch {
  width: 424px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* Prevent entire container from scrolling */
}
.contentContainer {
  display: flex;
  flex-grow: 1; /* Takes up the remaining space after the header */
  overflow: hidden;
}
#ceresCartText{
  font-size: 16px;
  margin: 0;
  margin-left: 8px;
  font-weight: 550;
}
#headerLogo{
  height: 25px;
  width: 25px;
  margin-left: 16px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.headerLeftAlign {
  display: flex;
  align-items: center; /* Center items vertically */
}
.headerRightAlign {
  margin-left: auto; /* Push this section to the right */
  display: flex;
  align-items: center; /* Center items vertically */
}
#times {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 0;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid black; /* Add a border to the top */
  border-bottom: 1px solid black; /* Add a border to the bottom */
  border-left: none; /* No border on the left */
  border-right: none; /* No border on the right */
}

.timeName{
  margin: 0;
  font-weight: 550;
  font-size: 18px;
}
.timeQuantity{
  margin: 0;
  font-size: 16px;
}
.recipeViewText{
  text-align: left;
  margin-left: 8px;
  margin-right: 16px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
.recipeViewIcon{
  height: 20px;
  margin-left: 16px;
}
.recipeViewIconAndText{
  display: flex; 
  flex-direction: row;
  align-items: center; /* Vertically center the icon */
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black for shadow effect */
  z-index: 2147483645; /* Ensure it's above the page but behind your popup */
  pointer-events: none; /* Make sure it doesn’t block interactions with the popup */
  display: block; /* Hide by default */
}
.loadingText{
  color: rgb(255, 160, 175);
  font-weight: bold;
  font-size: 18px;
}
#ingredientList{
  margin-left: 32px;
  margin-right: 8px;
  line-height: 1.2;

}
#instructionsList{
  margin-left: 32px;
  margin-right: 8px;
  line-height: 1.2;

}
#collapseContainer {
  display: flex;
  align-items: center; /* Vertically center elements */
  justify-content: center; /* Optionally center them horizontally */
}

#collapseLeft, #collapseRight {
  height: 20px;
  background-color: transparent;
  border: none;
}
#vertical-line {
  height: 100%; /* Set the desired height for the line */
  border-left: 1px solid rgb(228, 230, 232); /* Thickness and color of the line */
  margin: 0 4px; /* Space between the images and line */
}
#expandArrow{
  position: absolute; /* Allow positioning */
  border-width: 1px;
  border: 1px solid; 
  margin-right: 16px;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%; 
  border-color: rgb(228, 230, 232);
  cursor: pointer;
  display: none;
  transform: translateX(-50%); /* Fine-tunes the positioning to achieve the desired overlap */
  z-index: 2147483647; /* Ensures the button stays above other elements */
}
#expandArrow:hover {
  border-color: rgb(228, 230, 232);
  background-color: rgb(228, 230, 232);
}
.highlight {
  background-color: rgb(255, 225, 105);
}
.edit{
  height: 25px;
  width: 25px;
}
.toggle-button {
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button.active {
  background-color: #4caf50;
}

.toggle-circle {
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 0.3s;
}

.toggle-button.active .toggle-circle {
  transform: translateX(40px);
}

.toggle-button p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
}